<div class="box" style=" border-radius: 0; box-shadow: none;">
  <div class="box-header with-border" style="padding: 15px 0;">
    <h3 class="box-title">订单明细</h3>
  </div>
  <div class="box-body" style="padding: 15px 0;">
    <div class="r_tableTabs">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="divA" >
          <div class="table-responsive">
            <table  class="table table-striped table-bordered table-hover text-nowrap" style="border-radius: 0;">
              <thead>
              <tr>
                <th>合约代码</th>
                <th>报单引用</th>
                <th>方向</th>
                <th>开平</th>
                <th>套保</th>
                <th>委托时间</th>
                <th>委托价格</th>
                <th>委托数量</th>
                <th>成交价格</th>
                <th>成交数量</th>
                <th>成交金额</th>
                <th>委托状态</th>
                <th>交易账户</th>
                <th>交易单元</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let all of allOrder" >
                <td>{{all.symbol}}</td>
                <td>{{all.orderRef}}</td>
                <td>{{all.direction}}</td>
                <td>{{all.offset}}</td>
                <td>{{all.hedge}}</td>
                <td>{{all.entrustTime}}</td>
                <td>{{all.entrustPrice}}</td>
                <td>{{all.entrustVolume}}</td>
                <td>{{all.tradePrice}}</td>
                <td>{{all.tradeVolume}}</td>
                <td>{{all.tradeAmount}}</td>
                <td>{{all.entrustStatus}}</td>
                <td>{{all.accountID}}</td>
                <td>{{all.tradeUnitID}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="divB">
          <div class="table-responsive">
            <table  class="table table-striped table-bordered table-hover text-nowrap" style="border-radius: 0;">
              <thead>
              <tr>
                <th>合约代码</th>
                <th>报单引用</th>
                <th>方向</th>
                <th>开平</th>
                <th>套保</th>
                <th>委托时间</th>
                <th>委托价格</th>
                <th>委托数量</th>
                <th>成交价格</th>
                <th>成交数量</th>
                <th>成交金额</th>
                <th>委托状态</th>
                <th>交易账户</th>
                <th>交易单元</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let all of allOrder">
                <td>{{all.symbol}}</td>
                <td>{{all.orderRef}}</td>
                <td>{{all.direction}}</td>
                <td>{{all.offset}}</td>
                <td>{{all.hedge}}</td>
                <td>{{all.entrustTime}}</td>
                <td>{{all.entrustPrice}}</td>
                <td>{{all.entrustVolume}}</td>
                <td>{{all.tradePrice}}</td>
                <td>{{all.tradeVolume}}</td>
                <td>{{all.tradeAmount}}</td>
                <td>{{all.entrustStatus}}</td>
                <td>{{all.accountID}}</td>
                <td>{{all.tradeUnitID}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="divC">
          <div class="table-responsive">
            <table  class="table table-striped table-bordered table-hover text-nowrap" style="border-radius: 0;">
              <thead>
              <tr>
                <th>序号</th>
                <th>合约代码</th>
                <th>报单引用</th>
                <th>方向</th>
                <th>开平</th>
                <th>套保</th>
                <th>委托时间</th>
                <th>委托价格</th>
                <th>委托数量</th>
                <th>成交价格</th>
                <th>成交数量</th>
                <th>成交金额</th>
                <th>委托状态</th>
                <th>交易账户</th>
                <th>交易单元</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let all of allOrder;let i = index">
                <th>{{i+1}}</th>
                <td>{{all.symbol}}</td>
                <td>{{all.orderRef}}</td>
                <td>{{all.direction}}</td>
                <td>{{all.offset}}</td>
                <td>{{all.hedge}}</td>
                <td>{{all.entrustTime}}</td>
                <td>{{all.entrustPrice}}</td>
                <td>{{all.entrustVolume}}</td>
                <td>{{all.tradePrice}}</td>
                <td>{{all.tradeVolume}}</td>
                <td>{{all.tradeAmount}}</td>
                <td>{{all.entrustStatus}}</td>
                <td>{{all.accountId}}</td>
                <td>{{all.tradeUnitId}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="r_tableTabsNav">
        <ul class="clearfix" >
          <li class="active"><a href="#divA" data-toggle="tab" (click)="onOrderr()">未成交合约</a></li>
          <li ><a href="#divB"data-toggle="tab" (click)="onTrade()">成交明细</a></li>
          <li ><a href="#divC" data-toggle="tab" (click)="onOrder(accountId)">委托记录</a></li>
        </ul>
      </div>


    </div>
  </div>
</div>
