
  <div class="r_crumbs">
    <a href="javascript:;">首页</a>
    <a href="javascript:;">交易管理</a>
    期货交易
  </div>
  <div class="r_main">
    <div class="r_box">
      <div class="r_boxHead">
        <h2>期货交易</h2>

        <div class="r_boxToolFRl">
          <a data-toggle="modal" data-target="#selectins"
              class="btn btn-primary" (click)="searchi()"><i class="fa fa-plus"></i> 选择合约</a>
        </div>

      </div>
      <div class="r_boxContent">
        <div class="r_boxPad">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th>
                合约代码
              </th>
              <th>
                合约名称
              </th>
              <th>
                最新价
              </th>
              <th>
                买一价
              </th>
              <th>
                买一量
              </th>
              <th>
                卖一价
              </th>
              <th>
                卖一量
              </th>
              <th>
                涨停价
              </th>
              <th>
                跌停价
              </th>
              <th>
                最低价
              </th>
              <th>
                最高价
              </th>
              <th>
                昨结算价
              </th>
              <th>
                行情更新时间
              </th>

            </tr>
            </thead>
            <tbody class="r_tableChoose">

            <tr *ngFor="let item of selInstrument"  (click)="curTr(item)" >
              <td>{{item.instrumentId}}</td>
              <td>{{item.instrumentName}}</td>
              <td>{{item.dLastPrice}}</td>
              <td>{{item.dBidPrice}}</td>
              <td>{{item.nBidVolume}}</td>
              <td>{{item.dAskPrice}}</td>
              <td>{{item.nAskVolume}}</td>
              <td>{{item.dUpperLimitPrice}}</td>
              <td>{{item.dLowerLimitPrice}}</td>
              <td>{{item.dLowestPrice}}</td>
              <td>{{item.dHighestPrice}}</td>
              <td>{{item.dPreSettlementPrice}}</td>
              <td>{{item.nUpdateTime}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        </div>
        <div class="r_boxTool clearfix form-inline">
          <div class="r_toolPad">
            <div class="r_searchBox">
            <input  style="width: 140px"  id= "hcode" class="form-control " placeholder="请输入合约代码" type="text"  [(ngModel)]="instrumentId" (keyup)="searchii()" >
             <div class="r_searchBoxList" id="selectul">
              <ul class="aaa" >
                <li *ngFor="let item of allInstrument" class="bbb" (click)="selectli(item)">{{item.instrumentId}}</li>
              </ul>
             </div>
            </div>
                <select class="form-control" [(ngModel)]="curFuorders.exchange" style="width: 140px">
                  <option value="SHFE">上期所</option>
                  <option value="CZCE">郑商所</option>
                  <option value="DCE">大商所</option>
                  <option value="CFFEX">中金所</option>
                </select>

                <select class="form-control" [(ngModel)]="curFuorders.offset" style="width: 140px">
                  <option value="0">开仓</option>
                  <option value="1">平仓</option>
                  <option value="2">平今</option>
                  <option value="3">平昨</option>
                </select>

                <select class="form-control" [(ngModel)]="curFuorders.direction" style="width: 140px">
                  <option value="0">买</option>
                  <option value="1">卖</option>
                </select>

                <select class="form-control" [(ngModel)]="curFuorders.orderTradeType" style="width: 140px">
                  <option value="0">限价指令</option>
                  <option value="1">FOK指令</option>
                  <option value="2">FAK指令</option>
                </select>

                <input type="text" class="form-control" placeholder="数量" [(ngModel)]="curFuorders.entrustVolume" style="width: 140px"/>

                <select class="form-control" [(ngModel)]="curFuorders.hedge" style="width: 140px">
                  <option value="0">投机</option>
                  <option value="1">套利</option>
                  <option value="2">套保</option>
                </select>

                <div class="input-group">
                  <input type="text" class="form-control" placeholder="价格" [(ngModel)]="curFuorders.entrustPrice" style="width: 140px">
                  <span class="input-group-addon">元</span>
                </div>
                <div class="input-group" (click)="addgroup()">
                  <input type="text" id="show" class="form-control" placeholder="选择用户" value="{{selectedAccounts()}}" readonly  style="width: 140px">
                  <a href="javascript:;"  class="input-group-addon"><i class="fa fa-plus"></i></a>
                </div>
                <button type="button" class="btn btn-primary"  (click)="onAddFuorders()" style="width: 140px">下单</button>
        <div>
        </div>
      </div>
    </div>
    <br />
    <div class="r_box">
      <div class="r_boxContent">
        <div class="r_boxTool clearfix">
          <div class="row">
            <div class="col-md-6">
              <div class="r_toolPad" style="padding: 0 0 0 200px;">
                <div class="r_tableTabsNav">
                  <button class="btn btn-primary" data-toggle="modal" data-target="#selyh" (click)="selyh()">选择账户</button>

                  <ul class="clearfix">
                    <li *ngFor="let rga of selFuordersFunc" (click)="searchinfo(rga.accountId)"><a href="#div1" data-toggle="tab" >{{rga.accountId}}</a>&nbsp;</li>
                  </ul>
                </div>
                <div class="tabledit-toolbar btn-toolbar pull-right">
                  <div class="btn-group ">
                    <button class="tabledit-edit-button btn btn-default" type="button" (click)="allclosePosi(accountId)">全部平仓</button>
                    <button class="tabledit-delete-button btn  btn-default" type="button" (click)="quickhand()">快捷反手</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="r_toolPad">
                <div class="tabledit-toolbar btn-toolbar">
                  <div class="btn-group ">
                    <button class="tabledit-delete-button btn btn-default" type="button" (click)="allprice()">全部对价追单</button>
                    <button class="tabledit-edit-button btn btn-default" type="button" (click)="alldocu()">全部跟价追单</button>
                    <button class="tabledit-delete-button btn btn-default" type="button">撤单</button>
                    <button class="tabledit-delete-button btn  btn-default" type="button" (click)="allkill()">全部撤单</button>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div>
          </div>

        </div>
        <div class="row">
        <div class="col-md-6">
          <app-fuorders-left ></app-fuorders-left>
        </div>
          <div class="col-md-6">
            <app-fuorders-right></app-fuorders-right>
          </div>
        </div>


      </div>
    </div>

    <!-- 添加用户 -->
    <div id="add" class="modal bs-example-modal-lg fade" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">选择用户</h4>
          </div>
          <div class="modal-body">
            <dl class="r_userList">
              <dt><div class="checkbox"><b>分组</b></div></dt>
              <dd class="clearfix r_userListRow" >
                <div class="r_userListSpan"><div class="checkbox"><b>用户名</b></div></div>
                <div class="r_userListSpan"><div class="checkbox"><b>系数</b></div></div>
              </dd>

            </dl>

            <dl class="r_userList" *ngFor="let item of fuorderAccountList">
              <dt>
              <div class="checkbox">
              <label>
                <input type="checkbox" id="checkAll" (click)="allSel(item)" name="subBoxAll" [checked]="item.active"/>{{item.groupName}}
              </label>
              </div>
              </dt>
              <dd class="clearfix r_userListRow" *ngFor="let rga of item.rgAccountDTOlist">
                <div class="r_userListSpan">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="subBox" [checked]="rga.active" (click)="lonesel(rga)"/>{{rga.accountId}}
                    </label>
                  </div>
                </div>
                <div class="r_userListSpan"><div class="checkbox">{{rga.ratio}}</div></div>
              </dd>
            </dl>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="sel()">保存</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

          </div>
        </div>
      </div>
    </div>
  </div>

<!--选择合约-->
  <div id="selectins" class="modal bs-example-modal-lg fade" role="dialog">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="">选择合约</h4>
        </div>
        <div class="modal-body">
          <div class="table-responsive ">

          </div>
          <div class="input-group">

          </div>
          <br />

          <div class="selectRow clearfix">
            <div class="selectLeft">
              <b>全部合约：</b>
              <div class="selectBar">
                <div class="table-responsive">
                  <table class="table  table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>合约代码</th>
                      <th>合约名称</th>
                    </tr>
                    </thead>
                    <tbody class="r_tableChoose" id="left">
                    <tr *ngFor="let fuo of allInstrument" [class.active]="fuo.active" (click)="onFuoItemClick(fuo)">
                      <td>{{fuo.instrumentId}}</td>
                      <td>{{fuo.instrumentName}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="selectTool">
              <button class="btn btn-default btn-block" (click)="addFuo()">添加 ></button>

              <button class="btn btn-default btn-block" (click)="deleteFuo()">删除 <</button>
            </div>
            <div class="selectRight">
              <b>已选择的合约：</b>
              <div class="selectBar">
                <div class="table-responsive">
                  <table class="table  table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>合约代码</th>
                      <th>合约名称</th>
                    </tr>
                    </thead>
                    <tbody class="r_tableChoose" id="right">
                    <tr *ngFor="let curFu of curInstrument" [class.active]="curFu.active" (click)="onFuoItemClick(curFu)">
                      <td>{{curFu.instrumentId}}</td>
                      <td>{{curFu.instrumentName}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="save()">保存</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
  <!--选择用户-->
  <div id="selyh" class="modal bs-example-modal-lg fade" role="dialog">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">选择账户</h4>
        </div>
        <div class="modal-body" >

          <dl>
            <dt>
            <div class="checkbox">
              <label>
                <input value="option1" type="checkbox" (click)="allPosi()" [checked]="active">全选
              </label>
            </div>
            </dt>
            <dd>
              <label class="checkbox-inline"  *ngFor="let rga of curFuordersFunc">
                <input  value="option1" type="checkbox"  [checked]="rga.active" (click)="selPosi(rga)">{{rga.accountId}}
              </label>

            </dd>
          </dl>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="savePosi()">保存</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="delPosi()">取消</button>
        </div>
      </div>
    </div>
  </div>
