<div class="r_crumbs">
  <a href="#">首页</a>
  <a href="#">业务信息管理</a>
  {{title}}
</div>
<div class="r_main">
  <app-alert></app-alert>
  <div class="r_box">
    <div class="r_boxHead">
      <h2>{{title}}</h2>
      <div class="r_boxToolFRl">
        <button (click)="goback()" class="btn btn-primary"><i class="fa fa-mail-reply"></i> 返回</button>
      </div>
    </div>
    <div class="r_boxContent">
      <div class="r_boxPad">
        <div class="table-responsive form-inline">
          <table class="table  table-bordered">
            <thead>
            <tr>
              <th>操作员ID</th>
              <th>操作员姓名</th>
              <th>角色名称</th>
              <th>操作员描述</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <input class="form-control" placeholder="请输入操作员ID" type="text">
              </td>
              <td>
                <input class="form-control" placeholder="请输入操作员姓名" type="text">
              </td>
              <td>
                <input class="form-control" placeholder="请输入角色名称" type="text">
              </td>
              <td>
                <input class="form-control" placeholder="请输入操作员描述" type="text">
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div class="r_box r_boxNoBorder">
    <div class="r_boxHead">
      <h2>全部交易账户</h2>
      <div class="r_boxToolFRl">
        <div class="input-group">
          <input name="table_search" class="form-control pull-right" placeholder="按期货品质名称搜索" type="text">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="r_boxContent">
      <div class="r_boxPad">
        <div class="table-responsive form-inline">
          <table class="table  table-bordered table-hover">
            <thead>
            <tr>
              <th>交易账户ID</th>
              <th>交易账户名称</th>
              <th>交易平台</th>
            </tr>
            </thead>
            <tbody class="r_tableChoose">
            <tr>
              <td>1001</td>
              <td>admina</td>
              <td>0321</td>
            </tr>
            <tr>
              <td>1001</td>
              <td>admina</td>
              <td>0321</td>
            </tr>
            <tr>
              <td>1001</td>
              <td>admina</td>
              <td>0321</td>
            </tr>
            <tr>
              <td>1001</td>
              <td>admina</td>
              <td>0321</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>
  <div class="r_footRow">
    <div class="row show-grid">
      <div class="col-md-1 col-md-offset-5 col-md-sm-2"><button type="button" class="btn btn-primary btn-lg btn-block">保存</button></div>
      <div class="col-md-1 col-md-sm-2"><button type="button" class="btn btn-default btn-lg btn-block">取消</button></div>
    </div>

  </div>
</div>
