<div class="r_crumbs">
  <a href="javascript:;">首页</a>
  <a href="javascript:;">业务信息管理</a>
  {{title}}
</div>
<div class="r_main">
  <app-alert></app-alert>
  <div class="r_box">
    <div class="r_boxHead">
      <h2>{{title}}</h2>
      <div class="r_boxToolFRl">
        <button (click)="goback()" class="btn btn-primary"><i class="fa fa-mail-reply"></i> 返回</button>
      </div>
    </div>
    <div class="r_boxContent">
      <div class="r_boxPad">
        <div class="table-responsive form-inline">
          <table class="table  table-bordered">
            <thead>
            <tr>
              <th>操作员ID</th>
              <th>操作员姓名</th>
              <th>角色名称</th>
              <th>操作员描述</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <input class="form-control" placeholder="请输入操作员ID" type="text">
              </td>
              <td>
                <input class="form-control" placeholder="请输入操作员姓名" type="text">
              </td>
              <td>
                <input class="form-control" placeholder="请输入角色名称" type="text">
              </td>
              <td>
                <input class="form-control" placeholder="请输入操作员描述" type="text">
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div class="r_box r_boxNoBorder">
    <div class="r_boxHead">
      <h2>交易账户配置</h2>
    </div>
    <div class="r_boxContent">
      <div class="r_boxPad">

        <div class="selectRow clearfix">
          <div class="selectLeft">
            <b>全部交易账户：</b>
            <div class="selectBar">
              <div class="table-responsive">
                <table class="table  table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>交易账户ID</th>
                    <th>交易账户名称</th>
                    <th>交易平台</th>
                  </tr>
                  </thead>
                  <tbody class="r_tableChoose" id="left">
                  <tr>
                    <td>1001</td>
                    <td>admina</td>
                    <td>0321</td>
                  </tr>
                  <tr >
                    <td>1002</td>
                    <td>admina</td>
                    <td>0321</td>
                  </tr>
                  <tr>
                    <td>1003</td>
                    <td>admina</td>
                    <td>0321</td>
                  </tr>
                  <tr>
                    <td>1004</td>
                    <td>admina</td>
                    <td>0321</td>
                  </tr>
                  <tr>
                    <td>1005</td>
                    <td>admina</td>
                    <td>0321</td>
                  </tr>
                  <tr>
                    <td>1006</td>
                    <td>admina</td>
                    <td>0321</td>
                  </tr>
                  <tr>
                    <td>1007</td>
                    <td>admina</td>
                    <td>0321</td>
                  </tr>
                  <tr>
                    <td>1008</td>
                    <td>admina</td>
                    <td>0321</td>
                  </tr>
                  <tr>
                    <td>1009</td>
                    <td>admina</td>
                    <td>0321</td>
                  </tr>
                  <tr>
                    <td>10010</td>
                    <td>admina</td>
                    <td>0321</td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="selectTool">
            <a href="javascript:;" id="addBtn" class="btn btn-default btn-block">A</a>
            <a href="javascript:;" id="addAllBtn" class="btn btn-default btn-block">AA</a>
            <a href="javascript:;" id="removeBtn" class="btn btn-default btn-block">删除</a>
          </div>
          <div class="selectRight">
            <b>该操作员可操作的交易账户：</b>
            <div class="selectBar">
              <div class="table-responsive">
                <table class="table  table-bordered table-hover">
                  <thead>
                  <tr>

                    <th>交易账户ID</th>
                    <th>交易账户名称</th>
                    <th>交易平台</th>
                  </tr>
                  </thead>
                  <tbody class="r_tableChoose" id="right">
                  <tr>
                    <td>1004</td>
                    <td>admina</td>
                    <td>0321</td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
  <div class="r_footRow">
    <div class="row show-grid">
      <div class="col-md-1 col-md-offset-5 col-md-sm-2"><button type="button" class="btn btn-primary btn-lg btn-block">保存</button></div>
      <div class="col-md-1 col-md-sm-2"><button type="button" class="btn btn-default btn-lg btn-block">取消</button></div>
    </div>

  </div>
</div>
