<div class="r_crumbs">
  <a href="#">首页</a>
  <a href="#">交易管理</a>
  交易单元维护
</div>
<div class="r_main">
  <app-alert></app-alert>
  <div class="r_box">
    <div class="r_boxHead">
      <h2>交易单元详情</h2>
    </div>
    <div class="r_boxContent">
      <div class="r_boxTool clearfix">

        <div class="r_boxToolFl">
          <div class="row">
            <div class="col-md-3 col-sm-4">
              <div class="r_boxToolPad">
                <app-platform-sel viewType="select_all" [(value)]="searchPlatId" (change)="search()"></app-platform-sel>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="r_boxToolPad">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="按策略名称搜索" (keyup.enter)="search()" [(ngModel)]="searchStrategyName">
                  <span class="input-group-addon" ><i class="fa fa-search"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 ">
              <div class="r_boxToolPad">
                <div class="input-group">
                  <input type="text" class="form-control pull-right" placeholder="按交易单元名称搜索" (keyup.enter)="search()" [(ngModel)]="searchTradeUnitName">
                  <span class="input-group-addon" ><i class="fa fa-search"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="r_boxToolFRl">
          <button type="button" class="btn btn-primary" (click)="onAddTradeUnit()" ><i class="fa fa-plus"></i> 新增</button>
        </div>
      </div>
      <div>
        <div class="r_boxPad">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th>交易单元名称</th>
                <th>交易平台</th>
                <th>交易策略</th>
                <th>策略类型</th>
                <th>创建者</th>
                <th>状态</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let trade_unit of tradeUnitPage?.tradeUnits">
                <td>{{trade_unit.tradeUnitId}}</td>
                <td>
                  <app-platform-sel viewType="readonly" [value]="trade_unit.platId" ></app-platform-sel>
                </td>
                <td>{{trade_unit.strategyName}}</td>
                <td>
                  <app-cust-select dataType="strategy_type" viewType="readonly" [value]="trade_unit.strategyType" ></app-cust-select>
                </td>
                <td>{{trade_unit.author}}</td>
                <td><span class="text-muted">
                  <app-cust-select dataType="trade_unit_status" viewType="readonly" [value]="trade_unit.status" ></app-cust-select>
                </span></td>
                <td>
                  <div class="tabledit-toolbar btn-toolbar">
                    <div class="btn-group btn-group-sm">
                      <button type="button"  data-toggle="modal" data-target="#addCelue" class="tabledit-edit-button btn btn-sm btn-default">交易单元配置</button>
                      <button type="button" class="tabledit-delete-button btn btn-sm btn-default">启动</button>
                      <button type="button" class="tabledit-delete-button btn btn-sm btn-default">停止</button>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <app-pagination [currentPage]="curPage" [totalPages]="tradeUnitPage?.totalPages" (clickPage)="onPage($event)" ></app-pagination>
      </div>
    </div>
  </div>
</div>


<!-- 新增/查看 -->
<div id="data_editor" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >{{editorTitle}}</h4>
      </div>
      <div class="modal-body">

        <div class="input-group" *ngIf="isAddEditor">
          <app-strategy-sel [(value)]="curTradeUnit.strategyName" (change)="loadStrategyInfo()"></app-strategy-sel>
<!--
          <input type="text" class="form-control pull-right" [(ngModel)]="curTradeUnit.strategyName" placeholder="请输入策略名称">
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="loadStrategyInfo()">导入</button>
          </div>
-->
        </div>

        <br>

        <div *ngIf="isLoaded">

        <div>交易单元信息</div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>交易策略名</th>
              <th>交易单元名</th>
              <th>交易平台</th>
              <th>策略类型</th>
              <th>创建者</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="!isAddEditor">
              <td>{{curTradeUnit.strategyName}}</td>
              <td>{{curTradeUnit.tradeUnitId}}</td>
              <td>{{curTradeUnit.platId}}</td>
              <td>
                <app-cust-select dataType="strategy_type" viewType="readonly" [value]="curTradeUnit.strategyType" ></app-cust-select>
              </td>
              <td>{{curTradeUnit.author}}</td>
            </tr>
            <tr *ngIf="isAddEditor">
              <td>{{curTradeUnit.strategyName}}</td>
              <td><input class="form-control input-sm" type="text" [(ngModel)]="curTradeUnit.tradeUnitId"/></td>
              <td>
                <app-platform-sel [(value)]="curTradeUnit.platId"></app-platform-sel>
              </td>
              <td>
                <app-cust-select dataType="strategy_type" viewType="readonly" [value]="curTradeUnit.strategyType" ></app-cust-select>
              </td>
              <td><input class="form-control input-sm" type="text" [(ngModel)]="curTradeUnit.author"/></td>
            </tr>
            </tbody>
          </table>
        </div>

        <div>交易账户</div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>用户代码</th>
              <th>产品名称</th>
              <th>投资者代码</th>
              <th>经纪公司名称</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let acct of curTradeUnit.accountList">
              <td>{{acct.userId}}</td>
              <td>{{acct.fundCode}}</td>
              <td>{{acct.inverstorId}}</td>
              <td>{{acct.brokerName}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div>策略参数</div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>参数名</th>
              <th>数据类型</th>
              <th>默认值</th>
              <th>参数值</th>
              <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let param of curTradeUnit.paramList">
              <td>{{param.paraName}}</td>
              <td>
                <app-cust-select dataType="strategy_param_type" viewType="readonly" [value]="param.paraType" ></app-cust-select>
              </td>
              <td>{{param.defaultValue}}</td>
              <td><input class="form-control input-sm" type="text" style="width: 40px;" [(ngModel)]="param.paraValue"/></td>
              <td><input class="form-control input-sm" type="text" [(ngModel)]="param.comment"/></td>
            </tr>
            </tbody>
          </table>
        </div>
        </div> <!-- ./*ngIf="curTradeUnit.strategyName"-->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" >保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

      </div>
    </div>
  </div>
</div>

