<div class="r_crumbs">
  <a href="#">首页</a>
  <a href="#">业务信息管理</a>
  策略维护
</div>
<div class="r_main">
  <app-alert></app-alert>
  <div class="r_box">
    <div class="r_boxHead">
      <h2>交易单元详情</h2>
    </div>
    <div class="r_boxContent">
      <div class="r_boxTool clearfix">

        <div class="r_boxToolFl">
          <div class="row">
            <div class="col-md-3 col-sm-4">
              <div class="r_boxToolPad">
                <select class="form-control" [(ngModel)]="searchPlatId" (change)="search()">
                  <option value="">全部交易平台</option>
                  <option value="101">交易平台-101</option>
                  <option value="102">交易平台-102</option>
                  <option value="103">交易平台-103</option>
                </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="r_boxToolPad">
                <div class="input-group">
                  <input type="text" class="form-control pull-right" placeholder="输入策略名称" (keyup.enter)="search()" [(ngModel)]="searchStrategyName">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 ">
              <div class="r_boxToolPad">
                <div class="input-group">
                  <input type="text" class="form-control pull-right" placeholder="按交易单元名称搜索" (keyup.enter)="search()" [(ngModel)]="searchTradeUnitName">
                  <span class="input-group-addon" ><i class="fa fa-search"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="r_boxToolFRl">
          <button type="button" class="btn btn-primary" (click)="onAddTradeUnit()" ><i class="fa fa-plus"></i> 新增</button>
        </div>
      </div>
      <div>
        <div class="r_boxPad">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th>交易单元名称</th>
                <th>交易平台</th>
                <th>交易策略</th>
                <th>策略类型</th>
                <th>创建者</th>
                <th>状态</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let trade_unit of tradeUnitPage?.tradeUnits">
                <td>{{trade_unit.tradeUnitId}}</td>
                <td>{{trade_unit.platId}}</td>
                <td>{{trade_unit.strategyName}}</td>
                <td>
                  <app-cust-select dataType="strategy_type" viewType="readonly" [value]="trade_unit.strategyType" ></app-cust-select>
                </td>
                <td>{{trade_unit.author}}</td>
                <td><span class="text-muted">
                  <app-cust-select dataType="trade_unit_status" viewType="readonly" [value]="trade_unit.status" ></app-cust-select>
                </span></td>
                <td>
                  <div class="tabledit-toolbar btn-toolbar">
                    <div class="btn-group btn-group-sm">
                      <button type="button"  data-toggle="modal" data-target="#addCelue" class="tabledit-edit-button btn btn-sm btn-default">策略配置</button>
                      <button type="button" class="tabledit-delete-button btn btn-sm btn-default">启动</button>
                      <button type="button" class="tabledit-delete-button btn btn-sm btn-default">删除</button>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <app-pagination [currentPage]="curPage" [totalPages]="tradeUnitPage?.totalPages" (clickPage)="onPage($event)" ></app-pagination>
      </div>
    </div>
  </div>
</div>


<!-- 新增/查看 -->
<div id="data_editor" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >{{editorTitle}}</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-10">
            <div class="r_boxToolPad"><input class="form-control" type="text" placeholder="请输入策略名称"></div>
          </div>
          <div class="col-md-2"><div class="r_boxToolPad"><button type="submit" id="search" class="btn btn-default btn-block">搜索</button></div></div>
        </div>
        <div id="searchBox" style="display: none;">
          <br />
          <div><b>交易单元信息</b></div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>
                  交易单元名称
                </th>
                <th>
                  交易平台
                </th>
                <th>
                  策略类型
                </th>
                <th>
                  创建者
                </th>
                <th width="120">
                  操作
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><input class="form-control input-sm" type="text"></td>
                <td><input class="form-control input-sm" type="text"></td>
                <td>
                  <select class="form-control input-sm">
                    <option>策略类型</option>
                    <option>全部策略类型</option>
                    <option>类型一</option>
                    <option>类型一</option>
                    <option>类型一</option>
                  </select>
                </td>
                <td><input class="form-control input-sm" type="text"></td>
                <td>
                  <div class="tabledit-toolbar btn-toolbar">
                    <div class="btn-group btn-group-sm">
                      <button type="button" class="tabledit-edit-button btn btn-sm btn-primary">保存</button>
                      <button type="button" class="tabledit-delete-button btn btn-sm btn-default">取消</button>
                    </div>
                  </div>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
          <div><b>交易账户</b></div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>
                  产品名称
                </th>
                <th>
                  用户代码
                </th>
                <th>
                  投资者代码
                </th>
                <th>
                  账户类型
                </th>
                <th>
                  经纪公司名称
                </th>
                <th width="120">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><input class="form-control input-sm" type="text"></td>
                <td><input class="form-control input-sm" type="text"></td>
                <td><input class="form-control input-sm" type="text"></td>
                <td><input class="form-control input-sm" type="text"></td>
                <td><input class="form-control input-sm" type="text"></td>
                <td>
                  <div class="tabledit-toolbar btn-toolbar">
                    <div class="btn-group btn-group-sm">
                      <button type="button" class="tabledit-edit-button btn btn-sm btn-primary">保存</button>
                      <button type="button" class="tabledit-delete-button btn btn-sm btn-default">取消</button>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td><input class="form-control input-sm" type="text"></td>
                <td><input class="form-control input-sm" type="text"></td>
                <td><input class="form-control input-sm" type="text"></td>
                <td><input class="form-control input-sm" type="text"></td>
                <td><input class="form-control input-sm" type="text"></td>
                <td>
                  <div class="tabledit-toolbar btn-toolbar">
                    <div class="btn-group btn-group-sm">
                      <button type="button" class="tabledit-edit-button btn btn-sm btn-primary">保存</button>
                      <button type="button" class="tabledit-delete-button btn btn-sm btn-default">取消</button>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div><b>策略参数</b></div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>
                  参数名
                </th>
                <th>
                  数据类型
                </th>
                <th>
                  默认值
                </th>
                <th>
                  参数值
                </th>
                <th>
                  备注
                </th>
                <th width="120">
                  操作
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>name1</td>
                <td>int</td>
                <td>d5</td>
                <td><input class="form-control input-sm" type="text"></td>
                <td><input class="form-control input-sm" type="text" /></td>
                <td>
                  <div class="tabledit-toolbar btn-toolbar">
                    <div class="btn-group btn-group-sm">
                      <button type="button" class="tabledit-edit-button btn btn-sm btn-primary">保存</button>
                      <button type="button" class="tabledit-delete-button btn btn-sm btn-default">取消</button>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>name1</td>
                <td>int</td>
                <td>d5</td>
                <td><input class="form-control input-sm" type="text" ></td>
                <td><input class="form-control input-sm" type="text" /></td>
                <td>
                  <div class="tabledit-toolbar btn-toolbar">
                    <div class="btn-group btn-group-sm">
                      <button type="button" class="tabledit-edit-button btn btn-sm btn-primary">保存</button>
                      <button type="button" class="tabledit-delete-button btn btn-sm btn-default">取消</button>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" >保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

      </div>
    </div>
  </div>
</div>

