<div class="r_crumbs">
  <a href="#">首页</a>
  <a href="#">业务信息管理</a>
  柜台系统配置
</div>
<div class="r_main">
  <div class="r_box">
    <div class="r_boxHead">
      <h2>柜台系统</h2>
    </div>
    <div class="r_boxContent">
      <div class="r_boxTool clearfix">

        <div class="r_boxToolFl">
          <div class="row">

            <div class="col-md-3 col-sm-4">
              <div class="r_boxToolPad">

                <div class="input-group">
                  <input type="text" class="form-control pull-right" placeholder="按平台编号搜索"  [(ngModel)]="searchPlatId" (keyup.enter)="search()">
                  <span class="input-group-addon" ><i class="fa fa-search"></i></span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="r_boxToolFRl">
          <button type="button" class="btn btn-primary" (click)="onAddMdService()" data-toggle="modal" data-target="#add"><i class="fa fa-plus"></i> 新增</button>
        </div>
      </div>
      <div>
        <div class="r_boxPad">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
              <tr>
                <th>交易平台</th>
                <th>IP</th>
                <th>端口</th>
                <th>服务类型</th>
                <th>适配器类型</th>
                <th width="120">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of mdServicePage?.mdService">
                <td>{{item.platId}}</td>
                <td>{{item.ip}}</td>
                <td>{{item.port}}</td>
                <td><app-cust-select dataType="mdService" viewType="readonly" [value]="item.serviceType" ></app-cust-select></td>
                <td><app-cust-select dataType="mdlei" viewType="readonly" [value]="item.adapterType" ></app-cust-select></td>
                <td style="text-align: center;">
                  <div class="tabledit-toolbar btn-toolbar" style=" display: inline-block;">
                    <div class="btn-group btn-group-sm" >
                      <button class="tabledit-edit-button btn btn-sm btn-default" type="button" (click)="onEditMdService(item)" >编辑</button>
                      <button class="tabledit-delete-button btn btn-sm btn-default" type="button" (click)="onDeleteMdService(item)">删除</button>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <app-pagination [currentPage]="curPage" [totalPages]="mdServicePage?.totalPages" (clickPage)="onPage($event)" ></app-pagination>
      </div>
    </div>
  </div>
</div>

<!-- 新增/编辑行情订阅信息 -->
<div id="data_editor" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >{{editorTitle}}</h4>
      </div>
      <div class="modal-body form-horizontal">

          <div class="form-group">
            <label class="col-sm-3 control-label">交易平台:</label>
            <div class="col-sm-9">
              <select class="form-control" [(ngModel)]="curMdService.platId">
                <option value="101">1</option>
                <option value="102">2</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">IP:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"  placeholder="请输入IP" [(ngModel)]="curMdService.ip">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">端口:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"  placeholder="请输入端口" [(ngModel)]="curMdService.port">
            </div>
          </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">服务类型:</label>
          <div class="col-sm-9">

            <select class="form-control" [(ngModel)]="curMdService.serviceType">
              <option value="1">期货行情</option>
              <option value="2">期货交易</option>
              <option value="3">股票行情</option>
              <option value="4">股票交易</option>
            </select>
          </div>
        </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">适配器类型:</label>
            <div class="col-sm-9">
              <select class="form-control" [(ngModel)]="curMdService.adapterType">
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </div>
          </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()" >保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<!-- 删除 -->
<div id="delete_confirm" class="modal fade bs-example-modal-sm" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >删除</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-11"><p class="lead">是否确定<strong>删除</strong>该行情订阅记录？</p></div>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-11">
            <dl class="dl-horizontal" style="margin-bottom: 8px;">
              <dt>交易平台</dt><dd>{{curMdService.platId}}</dd>
            </dl>
            <dl class="dl-horizontal" style="margin-bottom: 8px;">
              <dt>IP</dt><dd>{{curMdService.ip}}</dd>
            </dl>
            <dl class="dl-horizontal" style="margin-bottom: 8px;">
              <dt>端口</dt><dd>{{curMdService.port}}</dd>
            </dl>
            <dl class="dl-horizontal" style="margin-bottom: 8px;">
              <dt>服务类型</dt><dd>{{curMdService.serviceType}}</dd>
            </dl>
            <dl class="dl-horizontal" >
              <dt>适配器类型</dt><dd>{{curMdService.adapterType}}</dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="modal-footer" style="text-align: right;">
        <button type="button" class="btn btn-primary" (click)="delete()">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
