<div class="r_crumbs">
  <a href="#">首页</a>
  <a href="#">业务信息管理</a>
  策略维护
</div>
<div class="r_main">
  <div class="r_box">
    <div class="r_boxHead">
      <h2>期货品种管理</h2>
    </div>
    <div class="r_boxContent">
      <div class="r_boxTool clearfix">

        <div class="r_boxToolFl">
          <div class="row">
            <div class="col-md-4 col-sm-5 ">
              <div class="r_boxToolPad">
                <div class="input-group">
                  <input type="text" class="form-control pull-right" placeholder="按期货品质名称搜索">
                  <span class="input-group-addon" ><i class="fa fa-search"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="r_boxToolFRl">

          <button type="button" class="btn btn-default">导入</button>
          <button type="button" class="btn btn-default">导出</button>
          <button type="button" class="btn btn-primary" (click)="addFutures()"><i class="fa fa-plus"></i> 新增</button>

        </div>
      </div>

        <div class="r_boxPad">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="futures-table">
              <thead>
              <tr>
                <th>期货品种代码</th>
                <th>期货品种名称</th>
                <th>交易所代码</th>
                <th>合约乘数</th>
                <th>最小价格变动单位</th>
                <th>计费方式</th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let item of futuresList">
                <td>{{item.productId}}</td>
                <td>{{item.productName}}</td>
                <td>{{item.exchangeId}}</td>
                <td>{{item.volumeMultiple}}</td>
                <td>{{item.priceTick}}</td>
                <td>{{item.feeMode}}</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>
