.bg{
  background: url(assets/images/bg.png) repeat-x 0 bottom #099fde;
  background-size: auto 100%;
}
.login{
  position: absolute;
  width: 900px;
  left: 50%;
  top: 50%;
  background: #e5e5e5;
  border-top: 5px solid #00b4ff;
  box-shadow:0 5px 10px rgba(0,0,0,0.25) ;
  margin-left: -450px;
}
.loginHead{
  padding: 65px 0;
  text-align: center;
  background: #fff;
}
.loginRow{
  padding: 20px 0 0 0;
}
.loginForm{
  max-width: 230px;
  margin: 0 auto;
}
.loginInput{
  margin: 5px 0 0 0;
  position:relative;
}
.loginInput input{
  border: 1px solid #e0e0e0;
  background: #FFF;
  line-height: 36px;
  height: 36px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
}
.loginRowCode{
  position: relative;
  padding: 0 90px 0 0;
}
.loginRowCodeImg{
  position: absolute;
  right: 0;
  top: 1px;
}
.loginText{
  padding: 5px 0 0 0;
  text-align: right;
}
.loginText a{
  color: #099fde;
  text-decoration: none;
}
.loginText a:hover{
  text-decoration: underline;
}
.loginBtn{
  display: block;
  text-align: center;
  line-height: 50px;
  background: #099fde;
  font-size: 20px;
  color: #fff;
  box-shadow: 0 2px 3px rgba(0,94,134,0.3);
  font-weight: bold;
  text-decoration: none;
}
.loginBtn:hover{
  color: #fff;
  background: #0084bb;
}
.loginMain{
  padding: 30px 0 70px 0;
}
a{
  -webkit-transition:0.2s ease-in 0s;
  -o-transition:0.2s ease-in 0s;
  transition:0.2s ease-in 0s;
}
@media (max-width: 960px) {
  .bg{
    padding:15% 10px;

    height: auto;
  }
  .login{
    position: relative;
    width: auto;
    left: auto;
    top: auto;
    margin: auto !important;
    max-width: 900;
  }


}
@media (max-width: 768px) {
  .loginHead img{
    width: 151px;
  }
  .loginHead{
    padding: 30px 10px;
  }
  .loginMain{
    padding:10px 10px 30px 10px;
  }
}
@media (max-width: 480px) {

  .loginHead{
    padding: 20px 10px;
  }
  .loginMain{
    padding:10px 10px 30px 10px;
  }
  .bg{
    padding:12% 10px;
  }
  .loginRow{
    padding: 15px 0 0 0;
  }
}
