<body class="bg">
  <div class="login">
    <div class="loginHead"><img src="assets/images/loginLogo.png" /></div>
    <div class="loginMain">
      <div class="loginForm">
        <div class="loginRow">
          <label>登录名：</label>
          <div class="loginInput"><input type="text" /></div>
        </div>
        <div class="loginRow">
          <label>密 码：</label>
          <div class="loginInput"><input type="password" /></div>
        </div>
        <div class="loginRow">
          <label>验证码：</label>
          <div class="loginRowCode">
            <a href="#" class="loginRowCodeImg"><img src="assets/images/code.png" /></a>
            <div class="loginInput"><input type="password" /></div>
          </div>
        </div>
        <div class="loginRow">
          <a href="#" class="loginBtn" (click)="onLogin()">登 录</a>
        </div>
      </div>
    </div>
  </div>
</body>
