
<div id="addCelue" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >{{title}}</h4>
      </div>
      <div class="modal-body">

        <div class="row" *ngIf="!strategy">
          <div class="col-md-10">
            <div class="r_boxToolPad"><input class="form-control" type="text" placeholder="策略名称" #strategyName></div>
          </div>
          <div class="col-md-2"><div class="r_boxToolPad"><button class="btn btn-default btn-block" (click)="onLoadParam(strategyName)">导入</button></div></div>
        </div>

        <div class="table-responsive" *ngIf="strategy">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th><div class="th-inner ">策略名称</div></th>
              <th><div class="th-inner ">交易平台</div></th>
              <th><div class="th-inner ">策略文件名</div></th>
              <th><div class="th-inner ">策略类型</div></th>
              <th><div class="th-inner ">开发者</div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{strategy?.strategyName}}</td>
              <td>{{strategy?.platId}}</td>
              <td>{{strategy?.winFile}}</td>
              <td><app-cust-select dataType="strategy_type" viewType="readonly" [value]="strategy?.strategyType" ></app-cust-select></td>
              <td>{{strategy?.author}}</td>
            </tr>

            </tbody>
          </table>
        </div>

        <br/>

        <div id="daoruContent" *ngIf="displayParam && strategy?.fieldList?.length > 0">
          <div class="">策略参数</div>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th ><div class="th-inner ">参数名</div></th>
                <th ><div class="th-inner ">数据类型</div></th>
                <th ><div class="th-inner ">默认值</div></th>
                <th *ngIf="!isAdd"><div class="th-inner ">操作</div></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let param of strategy?.fieldList">
                <td >{{param.paraName}}</td>
                <td ><app-cust-select dataType="strategy_param_type" viewType="readonly" [value]="param.paraType" ></app-cust-select></td>
                <td ><input type="text" [(ngModel)]="param.paraValue" style="width: 200px; text-align: left;" /></td>
                <td *ngIf="!isAdd">
                <div class="tabledit-toolbar btn-toolbar">
                  <div class="btn-group btn-group-sm">
                    <button type="button" class="tabledit-edit-button btn btn-sm btn-primary" (click)="saveParam(param)">保存</button>
                  </div>
                </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="isAdd">保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

      </div>
    </div>
  </div>
</div>
