<div class="login-box">
  <app-alert></app-alert>
  <div class="login-logo">
    <img src="assets/images/loginLogo.png" />
  </div>
  <div class="login-box-body">
    <form>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="账号" [(ngModel)]="userNo" name="userNo">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="密码" [(ngModel)]="password" name="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-8">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="验证码" [(ngModel)]="chkCode" name="chkCode">
            <span class="glyphicon glyphicon-th-large form-control-feedback"></span>
          </div>
        </div>
        <div class="col-xs-4">
          <img [src]="chkCodeRequest" (click)="updateChkCode()" />
        </div>
        <!-- /.col -->
      </div>

      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="onLogin()">登 录</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
