html,body{
  height:100% !important;
}
.r_crumbs{
  background: #fff;
  padding: 0 30px;
  line-height: 40px;
  color: #099fde;
}
.r_crumbs a{
  display: inline-block;
  position: relative;
  padding: 0 10px 0 0;
  margin: 0 5px 0 0;
  color: #666;
  cursor: default;
}
.r_crumbs a:hover{
  color: #666 !important;
}
.r_crumbs a:after,
.r_crumbs a:before{
  display: block;
  content: '';
  width: 0;
  height: 0;
  overflow: hidden;
  border-width:4px 7px;
  border-style: solid;
  position: absolute;
  top: 50%;
  margin: -4px 0 0 0;
}
.r_crumbs a:after{
  border-color: transparent transparent transparent #666;
  right: -10px;
  z-index: 1;
}
.r_crumbs a:before{
  border-color: transparent transparent transparent #fff;
  z-index: 2;
  right: -9px;
}
.r_crumbs a:hover{
  color: #099fde;
}
.user-menuIcon{
  vertical-align: middle;
}
.r_main{
  margin: 20px 30px;
  position: relative;
}
.r_box{
  background: #fff;
  border-top: 3px solid #099fde;
  box-shadow: 0 1px 2px #ccc;
}
.r_boxNoBorder{
  border-top: none;
  margin: 20px 0 0 0;
}
.r_boxHead{
  padding: 0 15px;
  position: relative;
  border-bottom: 1px solid #eee;
}
.r_boxHead h2{
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #333;
  font-weight: 600;
  line-height: 54px;
}
.r_userTool{
  width: auto !important;
}
.r_userTool li a{
  display: block;
  line-height: 34px;
  border-bottom:1px solid #f4f4f4;
}
.r_boxTool{
  background: #f0f7fd;
  padding: 10px 15px;
  position: relative;
  margin: -1px 0 0 0;
}
.r_boxTool .sidebar-form{
  margin: 0;
}
.r_Search{
  display: block;
  position: relative;
}
.r_Search input{
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  height: 38px;
  padding: 0 10px;;
}
.r_Search .btn-flat{
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  height: 38px;
}
.r_Search input[type="text"]:focus{
  border: 1px solid #099fde;
  box-shadow: none;
}
.r_boxToolFl{
  margin: 0 80px 0 0;
}
.r_boxToolFRl{
  position: absolute;
  right:15px;
  top: 10px;
}
.r_boxToolFl .input-group{

}
.r_boxPad{
  padding: 15px;
}
.r_paging{
  text-align: center;
}
.modal-header{
  background: #3eabe6;
  color: #fff;
  padding: 10px 15px;
}
.modal-footer{
  text-align: center;
}
.r_collapse ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.r_collapseLi>a{
  display: block;
  line-height: 40px;
  position: relative;
  padding: 0 0 0 14px;

}
.r_collapseLi>a>i{
  position: absolute;
  left: 2px;
  top: 50%;
  margin: -9px 0 0 0;
  font-size: 18px;
  line-height: 18px;
}
.r_collapseLi li a{
  line-height: 40px;
  display: block;
  padding: 0 0 0 28px;
  position:relative;
}
.r_collapseLi li a .fa{
  position:absolute;
  right: 12px;
  top: 50%;
  line-height: 16px;
  font-size: 16px;
  margin: -7px 0 0 0;
  display: none;
}
.r_collapseLi li.active a .fa{
  display: block;
}
.r_collapseLi li{
  padding: 0 0 1px 0;
}
.r_collapseLi li a:hover{
  background: #eee;
}
.r_collapseLi li.active a{
  background: #0a9edc;
  color: #fff;
}
.r_collapseLi ul{
  display: none;
}

.r_collapseSon li a{
  line-height: 40px;
  display: block;
  padding: 0 0 0 28px;
  position:relative;
  -webkit-transition:0.2s ease-in 0s;
  -o-transition:0.2s ease-in 0s;
  transition:0.2s ease-in 0s;
}
.r_collapseSon li a .fa{
  position:absolute;
  right: 12px;
  top: 50%;
  line-height: 16px;
  font-size: 16px;
  margin: -7px 0 0 0;
  display: none;
}
.r_collapseSon li.active a .fa{
  display: block;
}
.r_collapseSon li{
  padding: 0 0 1px 0;
}
.r_collapseSon li a:hover{
  background: #eee;
}
.r_collapseSon li.active a{
  background: #0a9edc;
  color: #fff;
}
.r_collapse .panel-heading,
.r_collapse .panel-group .panel{
  box-shadow: none;
  border-radius: 0 !important;
}
.r_collapse .panel-group .panel+.panel{
  margin: -1px 0 0 0;
}
.r_collapse .glyphicon{
  font-size: 12px;
}
a.collapsed .fa{
  transform: rotate(90deg);
}
.r_footRow{
  padding: 20px 0 0 0;
}
.r_tableChoose tr{
  cursor: pointer;
}
.r_tableChoose tr.active td{
  background: #0a9edc !important;
  color: #fff;
}
.table-responsive tr td:last-child,
.table-responsive tr th:last-child{
  text-align: center;
}
.table-responsive tr td:last-child .tabledit-toolbar{
  display: inline-block;
}
.r_tips{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 150%;
  padding:  10px;
  z-index: 99;
  display: none;
}
.r_tips i{
  font-size: 18px;
  vertical-align: middle;
  margin: -3px 0 0 0;
}
.r_danger{
  background: rgba(221,75,57,0.9);
}
.r_warning{
  background: rgba(243,156,18,0.9);
}
.r_success{
  background: rgba(0,192,239,0.9);
}
.hover{
  -webkit-animation: twinkling 1s infinite ease-in-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
@-webkit-keyframes twinkling{
  0%{
    background: #eedeb7;
  }
  100%{
    opacity: 1;
  }
}
@keyframes twinkling{
  0%{
    background: #fff;
  }
  100%{
    background: #eedeb7;
  }
}
.btnFile{
  position: relative;
  overflow: hidden;

}
.btnFile input{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.r_toolPad{
  padding: 5px 0;
}
.loadingMask{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  z-index: 999999;
}
.loadingBox{
  width: 150px;
  height: 15px;
  margin: -7.5px 0 0 -75px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
}
.loadingBox span{
  display: inline-block;
  width: 15px;
  height: 100%;
  margin-right: 5px;
  background: #fff;
  -webkit-animation: load 1.04s ease infinite;
}
.loadingBox span:last-child{
  margin-right: 0px;
}
@-webkit-keyframes load{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.loadingBox span:nth-child(1){
  -webkit-animation-delay:0.13s;
}
.loadingBox span:nth-child(2){
  -webkit-animation-delay:0.26s;
}
.loadingBox span:nth-child(3){
  -webkit-animation-delay:0.39s;
}
.loadingBox span:nth-child(4){
  -webkit-animation-delay:0.52s;
}
.loadingBox span:nth-child(5){
  -webkit-animation-delay:0.65s;
}
.fixed-table-container{
  border-radius: 0 !important;
}
.fixed-table-container{
  padding-bottom: 41px !important;
}
.r_tableTabsNav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.r_tableTabsNav ul li{
  display:  inline-block;
  margin: 0 0 1px 0;
}
.r_tableTabsNav ul li a{
  display: inline-block;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 0 0 5px 5px;
  background: #f8f8f8;
  color: #666;
}
.r_tableTabsNav ul li a:hover{
  color:#099fde;
}
.r_tableTabsNav ul li.active a{
  background: #099fde;
  color: #fff;

}
.selectRow ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.selectLeft,
.selectRight{
  width: 38%;
  float: left;

}
.selectRight{
  float: right;
}
.selectBar{
  height: 380px;
  border: 1px solid #ccc;
  overflow: auto;
  margin: 5px 0 0 0;
}
.selectTool{
  position: absolute;
  width: 16%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}
.selectTool .btn{
  margin: 10px 0 !important;
}
.selectBar .panel-default{
  margin: 0 !important;
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ddd;
}
.selectBar .r_collapseSon li a{
  padding: 0 0 0 15px;
}
.selectBar .panel-title{
  font-size: 14px;
}
.selectBar  ul{
  margin: 0;
}
.selectBar .panel-group{
  margin: 0;
}
.selectBar .panel-default:last-child{
  border: none;
}
.r_boxToolFl .input-group{
  position: relative;
  display: block;
}
.r_boxToolFl .input-group .input-group-addon{
  position: absolute;
  right: 10px;
  top: 4px;
  border: none;
  z-index: 9;
}
@media (max-width: 768px) {
  .r_crumbs{

    padding: 0 10px;
    font-size: 12px;

  }
  .r_main{
    margin: 20px;
  }
  .r_boxToolPad{
    padding:0 0 10px 0;
  }
  .r_boxToolFl{
    margin: 0 0 10px 0;
  }
  .r_boxToolFRl{
    position: relative;
    right: auto;
    top: auto;
  }
  .r_boxToolFRl .btn{
    width: 100%;
    margin-bottom: 5px;
  }
  .r_boxHead .r_boxToolFRl{
    position: absolute;
    right:10px;
    top: 10px;
  }
}

@media (max-width: 480px) {
  .r_main{
    margin: 10px;
  }
  .r_boxHead{
    padding: 0 10px;
  }
  .r_boxHead h2{
    font-size: 16px;
  }
  .r_boxTool{
    padding: 10px;;
  }
  .r_boxPad{
    padding: 10px;
  }
}
.modal-dialog .table th, .modal-dialog .table td{
  vertical-align: middle !important;
}
